body{
	background:linear-gradient(#047289,#ffa2fd);
	font-family: sans-serif;
	color:white;
	background-size:cover;
	background-attachment: fixed;
	height:auto;
}
ul {
	background:rgba(0,0,0,0.3);
	padding:20px;
	text-align: right;
}
li{
	margin:19px;
	display:inline;
	text-decoration: none;
	padding:20px;
}
a{
	text-decoration: none;
	color:white;
}

li:hover{
	background:#047289;
}

h2{
	text-align: center;

}